.image-container {
    width : 50%;
    overflow: hidden;
    img {
        width: 100%;
        height: auto;
    }
}

.capture-container {
    width: 1600px !important;
   
}
.card {
    padding: 0 !important;
    margin: 0 !important;
    border-radius: 0 !important;
}

.slide {
    height: 900px;
    width: 1600px
}